.header {
	color: rgb(1, 1, 54);
	text-align: center;
	font-size: clamp(0.7rem, 0.5548rem + 0.6452vw, 1.2rem);
}

.header h1 {
	margin-bottom: 0;
}

.scoreBox {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0;
	margin-bottom: 10px;
}

.scoreBox span {
	padding: 0px 8px;
	color: white;
	background-color: #4f005f;
}

.header button {
	font-size: 1.3rem;
}

@media screen and (max-width: 450px) {
	.title {
		margin: 1rem 2rem;
	}

	.header button {
		font-size: 1rem;
	}
}
