@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

body {
	margin: 0;
	background-color: #cf9c03;
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
